body{
  background-image : url("bg-2.jpeg");
  background-repeat : no-repeat;
  background-size: cover;
}
t, st, at, dt{
  font-family: Georgia;
}

t{
  position: absolute;
  top : 28%;
  left : 45%;
}
st{
  position: absolute;
  top : 36%;
  left: 30%;
  font-size: 75%;
}

y{
  background-color: gold;
  resize : both;
}

.longer_line{
  line-height: 1.5;
  padding: 3px;
}

.smaller_font{
  font-size: 70%;
}
