body{
  background-image : url("bg-2.jpeg");
  background-repeat : no-repeat;
  background-size: cover;
}
t, st, at, dt{
  font-family: Georgia;
}

y{
  background-color: gold;
  resize : both;
}

.longer_line{
  line-height: 1.5;
  padding: 3px;
}

.smaller_font{
  font-size: 70%;
}
